data/
outputs/
pretrained/
detection/*txt
detection/*cache
detection/label*
detection/*/runs/
detection/*/__pycache__/
detection/yolov5/*csv
*/__pycache__/
detection/efficientDet/weights/
detection/efficientDet/pretrained/
segmentation/__pycache__/
segmentation/draw/
segmentation/data/
segmentation/weights/
detection/*/*pth
detection/*/*csv
detection/*/*txt
detection/*/*npy