opencv-python==4.2.0.32
opencv-python-headless==4.4.0.46
pandas==1.2.4
albumentations==1.0.0
scikit-image==0.18.1
scikit-learn==0.24.2
transformers @ git+https://github.com/huggingface/transformers@6f14eab50b702953d0e602339e16c7adee316004
timm==0.4.12
