absl-py==0.12.0
addict==2.4.0
aiohttp==3.7.4.post0
albumentations==1.0.0
alembic==1.5.8
antlr4-python3-runtime==4.8
anyio==3.3.0
appdirs==1.4.4
argcomplete==1.12.3
astor @ file:///home/pintel/nvnn/code/PaddleDetection/wheel/astor-0.8.1-py2.py3-none-any.whl
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.3.0
audeer==1.16.0
audformat==0.11.3
audinterface==0.7.0
audiofile==0.4.3
audioread==2.1.9
audobject==0.4.14
audresample==0.1.6
autoalbument==0.4.0
Babel==2.9.1
banal==1.0.6
bce-python-sdk==0.8.60
beautifulsoup4==4.9.3
blis==0.7.4
boto3==1.18.5
botocore==1.21.5
Bottleneck==1.3.2
bottleneck-transformer-pytorch==0.1.2
bravado==11.0.3
bravado-core==5.17.0
cachetools==4.2.1
catalogue==2.0.4
certifi==2020.12.5
cffi==1.14.5
cfgv==3.3.0
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cycler==0.10.0
cymem==2.0.5
Cython==0.29.23
darwin-py==0.5.19
dataclasses==0.6
dataset==1.4.5
datasets==1.6.0
decorator==4.4.2
Deprecated==1.2.12
dill==0.3.3
distlib==0.3.1
dnspython==1.16.0
docutils==0.17.1
easydict==1.9
efficientnet-pytorch==0.6.3
einops==0.3.0
ensemble-boxes==1.0.6
eventlet==0.31.1
factory-boy==3.2.0
Faker==8.8.1
fastai==1.0.61
fastai2==0.0.30
fastcore==1.0.16
fastprogress==1.0.0
fiftyone==0.11.1
fiftyone-brain==0.6.1
fiftyone-db==0.2.1
filelock==3.0.12
flake8==3.9.2
Flask==2.0.0
Flask-Babel==2.0.0
flatbuffers==1.12
fsspec==2021.4.0
funcsigs @ file:///home/pintel/nvnn/code/PaddleDetection/wheel/funcsigs-1.0.2-py2.py3-none-any.whl
future==0.18.2
fvcore==0.1.5.post20210518
gast==0.3.3
gitdb==4.0.7
GitPython==3.1.14
glob2==0.7
google-auth==1.28.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grad-cam==1.2.9
graphviz @ file:///home/pintel/nvnn/code/PaddleDetection/wheel/graphviz-0.16-py2.py3-none-any.whl
greenlet==1.0.0
grpcio==1.32.0
h11==0.12.0
h2o==3.32.1.2
h5py==2.10.0
httpcore==0.13.6
httpx==0.18.2
huggingface-hub==0.0.8
humanize==3.9.0
hydra-core==1.0.6
identify==2.2.4
idna==2.10
ImageHash==4.2.0
imageio==2.9.0
imgaug==0.4.0
importlib-metadata==3.10.1
importlib-resources==5.1.4
iopath==0.1.8
iso-639==0.4.5
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonpointer==2.1
jsonref==0.2
jsonschema==3.2.0
kaleido==0.2.1
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
librosa==0.8.0
lightgbm==3.2.1
llvmlite==0.36.0
loguru==0.5.3
madgrad==1.1
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.1
mccabe==0.6.1
mongoengine==0.20.0
monotonic==1.6
motor==2.5.0
msgpack==1.0.2
multidict==5.1.0
multiprocess==0.70.11.1
munch==2.5.0
murmurhash==1.0.5
ndjson==0.3.1
neptune-client==0.9.5
networkx==2.5.1
nltk==3.6.2
nodeenv==1.6.0
nose==1.3.7
numba==0.53.1
numexpr==2.7.3
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
objgraph @ file:///home/pintel/nvnn/code/PaddleDetection/wheel/objgraph-3.5.0-py2.py3-none-any.whl
omegaconf==2.0.6
opencv-python==4.2.0.32
opencv-python-headless==4.4.0.46
opensmile==2.1.2
opt-einsum==3.3.0
oyaml==1.0
packaging==20.9
paddledet==2.0.1
paddlepaddle-gpu==2.1.0.post112
pandas==1.2.4
pathlib @ file:///home/pintel/nvnn/code/PaddleDetection/wheel/pathlib-1.0.1-py3-none-any.whl
pathy==0.5.2
patool==1.12
Pillow==8.2.0
plotly==5.1.0
pooch==1.3.0
portalocker==2.3.0
pprintpp==0.4.0
pre-commit==2.12.1
preshed==3.0.5
pretrainedmodels==0.7.4
prettytable @ file:///home/pintel/nvnn/code/PaddleDetection/wheel/prettytable-2.0.0-py3-none-any.whl
protobuf==3.15.8
psutil==5.8.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
pydantic==1.7.4
pyflakes==2.3.1
PyJWT==2.1.0
pymongo==3.12.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-editor==1.0.4
python-Levenshtein==0.12.2
pytorch-lightning==1.1.8
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.3.1
ranger21 @ git+https://github.com/lessw2020/Ranger21.git@ac9bc7af393e5cdc194f202f4f3aac8cacce292f
rarfile @ file:///home/pintel/nvnn/code/PaddleDetection/wheel/rarfile-4.0-py3-none-any.whl
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
resnest @ git+https://github.com/zhanghang1989/ResNeSt@1dfb3e8867e2ece1c28a65c9db1cded2818a2031
retrying==1.3.3
rfc3986==1.5.0
rfc3987==1.3.8
rsa==4.7.2
ruamel.yaml==0.17.7
ruamel.yaml.clib==0.2.2
s3transfer==0.5.0
sacremoses==0.0.45
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.2
seaborn==0.11.1
segmentation-models-pytorch==0.1.3
sh==1.14.2
Shapely==1.7.1
shellcheck-py==0.7.2.1
simplejson==3.17.2
six==1.15.0
smart-open==3.0.0
smmap==4.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
soupsieve==2.2.1
sox==1.4.1
spacy==3.0.6
spacy-legacy==3.0.5
SQLAlchemy==1.4.11
srsly==2.4.1
strict-rfc3339==0.7
swagger-spec-validator==2.7.3
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.1
tensorflow-hub==0.12.0
termcolor==1.1.0
terminaltables==3.1.0
text-unidecode==1.3
tf-slim==1.1.0
thinc==8.0.3
thop==0.0.31.post2005241907
threadpoolctl==2.1.0
tifffile==2021.4.8
timm @ git+https://github.com/rwightman/pytorch-image-models.git@7096b52a613eefb4f6d8107366611c8983478b19
tokenizers==0.10.2
toml==0.10.2
torch==1.8.0+cu111
torchaudio==0.8.0
torchvision==0.9.0+cu111
tornado==6.1
tqdm==4.49.0
transformers @ git+https://github.com/huggingface/transformers@6f14eab50b702953d0e602339e16c7adee316004
ttach==0.0.3
typeguard==2.12.0
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
universal-analytics-python3==1.1.1
upolygon==0.1.6
urllib3==1.26.4
virtualenv==20.4.6
visualdl==2.1.1
voxel51-eta==0.5.1
warmup-scheduler @ git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git@6b5e8953a80aef5b324104dc0c2e9b8c34d622bd
wasabi==0.8.2
wcwidth==0.2.5
webcolors==1.11.1
websocket-client==0.58.0
Werkzeug==2.0.1
wrapt==1.12.1
xgboost==1.4.2
xmltodict==0.12.0
xxhash==2.0.2
yacs==0.1.8
yarl==1.6.3
zipp==3.4.1
